
    <!-- <nav class="bg-blue-500 p-4">
      <div class="container">
        <a href="#" >{{title}}</a>
      </div>
    </nav> -->
    <div class="card container mx-auto text-center">
      <h1></h1>
      <h3 class="mb-4 text-3xl font-bold">{{title}}</h3>
      <button
        id="jokeBtn"
        class="rounded-lg bg-blue-500 px-4 py-2 text-white"
        (click)="fetchJoke()"
      >
        Get Another Joke
      </button>
      <div id="joke" class="mb-4 rounded-lg bg-gray-200 p-4">{{ joke }}</div>
    </div>
    